@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

body {
  height: 100%;
  width: 100%;
  margin: 10; /* Reset default margin */
  background: #111;
  color: #d8e0db;
  font-family: "Major Mono Display", monospace;
}

.container {
  padding: 70px;
}

.line {
  white-space: nowrap;
  overflow: hidden;
  margin: 0.5rem auto;
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
  font-weight: bold;
  border-right: 2px solid transparent;
  animation: typewriter 5s steps(30) 1s 1 normal both, cursor 900ms steps(30) infinite;
  animation-delay: 0s; 
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0; 
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  font-family: "elza-text", sans-serif;
  color: whitesmoke;
  padding: 10px 15px;
  font-size: 16px;
  transition: color 0.3s, text-decoration 0.3s;
}

ul li a:hover {
  color: yellow;
  text-decoration: underline;
}