body {
    width: 100vw;
    height: 100vh;
    margin: 0;
background-color: whitesmoke;
}

svg {
    width: 100%;
    height: 100%;
}

span {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 3vmin;
    font-family: 'arial', sans-serif;
    bottom: 5vmin;
    right: 5vmin;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: black;
  position: fixed;
  top: 20;
  width: 100%;
  z-index: 1000;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  font-family: "elza-text", sans-serif;
  color: whitesmoke;
  padding: 10px 15px;
  font-size: 16px;
  transition: color 0.3s, text-decoration 0.3s;
}

ul li a:hover {
  color: yellow;
  text-decoration: underline;
}
