body {
    width: 100vw;
    height: 100vh;
    margin: 0;
background-color: whitesmoke;
}

svg {
    width: 100%;
    height: 100%;
}

span {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 3vmin;
    font-family: 'arial', sans-serif;
    bottom: 5vmin;
    right: 5vmin;
}
