body {
    box-sizing: border-box;
    font-family: "seismic-latin-variable", sans-serif;
    font-variation-settings: 'wght' 500, 'SEIS' 100;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('tree2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

ul li a {
    text-decoration: none;
    font-family: "elza-text", sans-serif;
    color: whitesmoke;
    padding: 10px 15px;
    font-size: 16px;
    transition: color 0.3s, text-decoration 0.3s;
}

ul li a:hover {
    color: yellow;
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    column-gap: 20px;
    row-gap: 50px;
    padding: 10px;
    position: relative;
    z-index: 0;
}

.item {
    width: 100%;
    height: 150px;
    margin: 0;
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.item p {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

